.list-container {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.list-input {
    border: 1px solid black;
    width: 96%;
    border-radius: 5px;
    padding: 2%;
    resize: none;
}

.list-submit {
    background-color: #28a745; 
    border-radius: 5px;
    padding: 10px;
    color: white;
    border: 1px solid black;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer

}


.list-item-container {
    margin-top: 50px;
    /* border: 1px solid black; */
    padding: 10px;
    /* background-image: linear-gradient(90deg, purple, orange); */
    border-radius: 6px;
    background-image: linear-gradient(135deg, skyblue, turquoise);
    border: 1px solid black;
}

.list-item-container h1,
.completed-item-container h1 {
    margin-left: 40px;
}

.list-item {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 6px;
    padding: 10px;
    background-color: white;
}

.list-item-check {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    float: left;
    text-align: center;
}

.list-item-content {
    text-align: left;
    margin-left: 40px;
    width: 70%;
    margin-right: 0px;
    right: 0px;
    height: 60px;
}

.list-item-content p{
    margin-top: 0px;
}

.list-item-delete {
    margin-right: 5px;
    border-radius: 4px;
    float: right;
}

.fa-trash {
    transform: scale(1.5);
    color: red;
}

.list-item-delete:hover,
.list-item-check:hover,
.list-submit:hover,
.list-item-edit:hover,
.list-edit-save:hover,
.list-edit-cancel:hover {
    cursor: pointer;
    filter: brightness(0.7);
    transition: ease all 300ms;
}


.list-item-edit {
    margin-right: 15px;
    float: right;
}

.fa-edit {
    cursor: pointer;
    transform: scale(1.5);
}

.fa-check {
    color: white;
}

.checked {
    background-color: #51A0D5;
}

.editing {
    color: #28a745;

}

.line-through {
    transition: all ease 300ms;
    text-decoration: line-through;
    opacity: 0.6;

}

.completed-item-container {
    /* margin-top: 50px;
    border: 1px solid black;
    padding: 10px; */
    background-image: linear-gradient(135deg, turquoise, skyblue);
}

.list-item-content-edit {
    resize: none;
    width: 100%;
    box-shadow: 0 0 3px 2px skyblue;
    margin-bottom: 5px;
    border: none;
    padding: 5px;
}

.list-edit-buttons {
    text-align: left;
    margin-left: 40px;
}

.list-edit-save,
.list-edit-cancel {
    border-radius: 5px;
    padding: 5px;
    color: white;
    border: none;
    margin-right: 5px;
    cursor: pointer


}

.list-edit-save {
    background-color: #28a745;

}

.list-edit-cancel {
    background-color: red;

}

.list-edit-disable {
    pointer-events: none !important;

}